In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
# 데이터 scaling
from sklearn.preprocessing import StandardScaler

# 데이터 구성:Series, DataFrame
import pandas as pd
# 데이터 시각화
import matplotlib.pyplot as plt
import matplotlib

import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 분할:train, test
from sklearn.model_selection import train_test_split
# 분류 Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
# 최적 모델, 파라미터 탐색
from sklearn.model_selection import GridSearchCV

# 분류모델 평가 함수
from sklearn.metrics import accuracy_score, roc_auc_score, precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
# !pip install matplotlib -U
# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv
# !rm ~/.cache/matplotlib -rf

In [ ]:
# import matplotlib.pyplot as plt # 다운 받은 글꼴 plt에 적용
# plt.rcParams['font.family']=['NanumGothic', 'sans-serif']
# plt.rcParams['axes.unicode_minus'] = False

In [ ]:
# 나눔고딕 적용
matplotlib.rc("font", family = 'NanumBarunGothic')
# 음수 표시
matplotlib.rc("axes", unicode_minus = False)

In [ ]:
dfloan_train = pd.read_csv('/home/piai/바탕화면/빅데이터_프로젝트/auto_loan_train.csv', encoding = 'euc-kr')

dfc_train = pd.read_csv('/home/piai/바탕화면/빅데이터_프로젝트/auto_customer_train.csv', encoding = 'euc-kr')

In [ ]:
dfloan_test = pd.read_csv('/home/piai/바탕화면/빅데이터_프로젝트/auto_loan_test.csv', encoding = 'euc-kr')

In [ ]:
dfc_test = pd.read_csv('/home/piai/바탕화면/빅데이터_프로젝트/auto_customer_test.csv', encoding = 'euc-kr')

# train data 정제

In [ ]:
pd.set_option('display.max_columns', None) # 모든 컬럼 변수를 표시
# pd.options.display.max_columns = 20 # 컬럼을 모두 표시하기 싫다면 다시 돌리기

In [ ]:
df = pd.merge(dfc_train,dfloan_train, how='right',on='CustomerId')
df

,CustomerId,Gender,Age,Education,MaritalStatus,FamilyCount,ChildCount,IncomeType,IncomeClass,Occupation,OrgType,EmployedYears,HouseOwnYN,DwellingType,HousingType,ResidenceClass,HouseAge,CarOwnedYN,LoanId,Default,ActiveLoanYN,LoanType,ApplWeek,ApplHour,Accompany,CarPrice,Deposit,LoanTerm,LoanRemainTerm,InterestType,InterestRate,LoanAmount,InstallAmount,LoanRemainAmount,HomeAddMatchedYN,WorkAddMatchedYN,InquiryCount,IdChangedYears,InfoChangedYears,PhoneChangedYears,ScoreA,ScoreB,ScoreC
0,C150166,여성,21.0,대학원,독신,2,0,서비스,3000만원~4000만원 미만,일반업무,무역,2.3,Y,자가,아파트,양호,NaN,N,L-144495,0,Y,할부금융(장/단기),금,10,단독,18000000,10,24,5,변동,6.10,16200000,716175.0,3580875.0,N,Y,1,1.0,10.3,0.0,0.513,0.673,0.553
1,C150168,남성,21.1,대학교,독신,0,0,사업,2000만원~3000만원 미만,기타,일반,1.2,Y,자가,아파트,양호,11.0,Y,L-100446,0,N,오토론,수,13,단독,52000000,30,48,13,변동,6.83,36400000,810127.5,10531657.5,Y,Y,1,1.0,21.1,0.4,0.256,0.536,0.396
2,C150169,여성,21.2,대학교,독신,0,0,사업,5000만원~1억원 미만,영업,무역,1.0,N,월세,아파트,양호,NaN,N,L-184103,0,Y,할부금융(장/단기),목,13,단독,25000000,20,36,10,혼합,4.54,20000000,580777.8,5807778.0,N,Y,0,1.1,21.1,1.7,0.634,0.774,0.374
3,C150170,남성,21.2,중학교,결혼,3,1,사업,3000만원~4000만원 미만,영업,무역,3.1,Y,자가,아파트,양호,NaN,N,L-104948,0,N,오토론,금,16,단독,15000000,20,12,7,고정,6.40,12000000,1064000.0,7448000.0,Y,Y,1,1.1,0.0,0.0,NaN,0.371,0.431
4,C150171,남성,21.3,고등학교,결혼,4,2,서비스,누락,일반업무,무역,1.7,Y,자가,연립/다세대/빌라,양호,NaN,N,L-105232,0,Y,오토론,금,14,단독,25000000,10,24,9,변동,6.50,22500000,998437.5,8985937.5,Y,Y,2,1.2,21.2,1.1,NaN,0.846,0.626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94236,C271849,남성,68.6,대학교,독신,0,0,퇴직,5000만원~1억원 미만,기타,공공,NaN,N,월세,아파트,최상,NaN,N,L-109144,0,Y,할부금융(장/단기),화,16,단독,15000000,10,24,4,변동,4.30,13500000,586687.5,2346750.0,Y,Y,1,10.7,42.6,0.0,NaN,0.719,0.479
94237,C271850,남성,68.7,대학교,사별,2,1,퇴직,5000만원~1억원 미만,기타,기타,NaN,Y,자가,아파트,최상,NaN,N,L-120987,0,Y,할부금융(장/단기),월,12,단독,61000000,10,24,11,변동,4.30,54900000,2385862.5,26244487.5,Y,Y,7,11.1,45.2,5.2,NaN,0.938,0.658
94238,C271852,남성,68.7,대학교,사별,3,2,퇴직,4000만원~5000만원 미만,기타,산업,NaN,Y,자가,아파트,최상,NaN,N,L-210944,0,Y,할부금융(장/단기),수,16,단독,30000000,20,48,25,고정,5.53,24000000,527650.0,13191250.0,Y,Y,3,11.0,0.4,1.0,NaN,0.742,0.762
94239,C271853,여성,68.8,대학교,사별,3,2,퇴직,5000만원~1억원 미만,기타,산업,NaN,N,월세,연립/다세대/빌라,최상,19.0,Y,L-122042,0,Y,할부금융(장/단기),월,11,단독,30000000,10,24,12,변동,4.30,27000000,1173375.0,14080500.0,Y,Y,1,10.7,8.0,0.0,0.945,0.565,0.825
94240,C271856,남성,53.5,전문대,결혼,4,2,사업,4000만원~5000만원 미만,매니저,일반,3.4,Y,자가,단독주택,양호,NaN,N,L-132225,0,Y,할부금융(장/단기),목,14,단독,20000000,30,48,38,혼합,5.38,14000000,307358.3,11679615.4,Y,Y,0,8.4,25.8,0.8,0.362,0.502,NaN

In [ ]:
df = df.drop(['CustomerId','LoanId','HouseAge'], axis = 1)

In [ ]:
df.isnull().sum()

Gender                   0
Age                      0
Education                0
MaritalStatus            0
FamilyCount              0
ChildCount               0
IncomeType               0
IncomeClass              0
Occupation               0
OrgType                  0
EmployedYears        19318
HouseOwnYN               0
DwellingType             0
HousingType              0
ResidenceClass           0
CarOwnedYN               0
Default                  0
ActiveLoanYN             0
LoanType                 0
ApplWeek                 0
ApplHour                 0
Accompany                0
CarPrice                 0
Deposit                  0
LoanTerm                 0
LoanRemainTerm           0
InterestType             0
InterestRate             0
LoanAmount               0
InstallAmount            0
LoanRemainAmount         0
HomeAddMatchedYN         0
WorkAddMatchedYN         0
InquiryCount             0
IdChangedYears         889
InfoChangedYears         0
PhoneChangedYears      963
ScoreA               46157
ScoreB                1845
ScoreC                9626
dtype: int64

In [ ]:
df_em = df[(df['IncomeType'] == '퇴직')]
df = df[(df['IncomeType'] != '퇴직')]

In [ ]:
df_em

,Gender,Age,Education,MaritalStatus,FamilyCount,ChildCount,IncomeType,IncomeClass,Occupation,OrgType,EmployedYears,HouseOwnYN,DwellingType,HousingType,ResidenceClass,CarOwnedYN,Default,ActiveLoanYN,LoanType,ApplWeek,ApplHour,Accompany,CarPrice,Deposit,LoanTerm,LoanRemainTerm,InterestType,InterestRate,LoanAmount,InstallAmount,LoanRemainAmount,HomeAddMatchedYN,WorkAddMatchedYN,InquiryCount,IdChangedYears,InfoChangedYears,PhoneChangedYears,ScoreA,ScoreB,ScoreC
1922,남성,43.1,대학교,결혼,3,1,퇴직,2000만원~3000만원 미만,기타,공공,NaN,Y,자가,아파트,평균,N,0,Y,할부금융(장/단기),금,17,배우자,30000000,20,12,10,변동,6.70,24000000,2134000.0,21340000.0,Y,Y,3,0.0,15.2,4.7,0.749,0.609,0.609
1957,남성,43.4,대학교,사별,2,1,퇴직,3000만원~4000만원 미만,기타,공공,NaN,Y,자가,아파트,양호,N,0,Y,할부금융(장/단기),수,16,단독,43000000,20,36,19,변동,6.19,34400000,1014704.4,19279383.6,Y,Y,0,2.4,4.6,0.0,0.644,0.504,NaN
2047,남성,44.2,고등학교,결혼,3,1,퇴직,3000만원~4000만원 미만,기타,산업,NaN,Y,자가,연립/다세대/빌라,양호,Y,0,Y,할부금융(장/단기),화,10,단독,25000000,10,24,17,변동,6.10,22500000,994687.5,16909687.5,Y,Y,0,11.9,23.5,5.8,0.692,0.672,NaN
2103,여성,44.7,고등학교,결혼,5,3,퇴직,5000만원~1억원 미만,기타,운송,NaN,Y,자가,오피스텔,양호,Y,0,Y,할부금융(장/단기),화,17,단독,61000000,30,48,2,변동,4.43,42700000,928991.9,1857983.8,Y,Y,2,7.2,13.4,5.0,NaN,0.732,0.892
2162,남성,45.3,고등학교,결혼,4,2,퇴직,5000만원~1억원 미만,기타,산업,NaN,Y,자가,아파트,누락,N,0,Y,할부금융(장/단기),월,11,단독,15000000,30,48,37,변동,4.43,10500000,228440.6,8452302.2,Y,Y,1,0.3,4.7,2.4,NaN,0.991,0.780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94235,여성,68.5,대학교,결혼,5,3,퇴직,5000만원~1억원 미만,기타,운송,NaN,Y,자가,오피스텔,최상,N,0,Y,할부금융(장/단기),화,13,단독,30000000,10,24,15,고정,4.60,27000000,1176750.0,17651250.0,Y,Y,2,11.2,28.5,2.3,NaN,0.725,0.625
94236,남성,68.6,대학교,독신,0,0,퇴직,5000만원~1억원 미만,기타,공공,NaN,N,월세,아파트,최상,N,0,Y,할부금융(장/단기),화,16,단독,15000000,10,24,4,변동,4.30,13500000,586687.5,2346750.0,Y,Y,1,10.7,42.6,0.0,NaN,0.719,0.479
94237,남성,68.7,대학교,사별,2,1,퇴직,5000만원~1억원 미만,기타,기타,NaN,Y,자가,아파트,최상,N,0,Y,할부금융(장/단기),월,12,단독,61000000,10,24,11,변동,4.30,54900000,2385862.5,26244487.5,Y,Y,7,11.1,45.2,5.2,NaN,0.938,0.658
94238,남성,68.7,대학교,사별,3,2,퇴직,4000만원~5000만원 미만,기타,산업,NaN,Y,자가,아파트,최상,N,0,Y,할부금융(장/단기),수,16,단독,30000000,20,48,25,고정,5.53,24000000,527650.0,13191250.0,Y,Y,3,11.0,0.4,1.0,NaN,0.742,0.762
94239,여성,68.8,대학교,사별,3,2,퇴직,5000만원~1억원 미만,기타,산업,NaN,N,월세,연립/다세대/빌라,최상,Y,0,Y,할부금융(장/단기),월,11,단독,30000000,10,24,12,변동,4.30,27000000,1173375.0,14080500.0,Y,Y,1,10.7,8.0,0.0,0.945,0.565,0.825

In [ ]:
df

,Gender,Age,Education,MaritalStatus,FamilyCount,ChildCount,IncomeType,IncomeClass,Occupation,OrgType,EmployedYears,HouseOwnYN,DwellingType,HousingType,ResidenceClass,CarOwnedYN,Default,ActiveLoanYN,LoanType,ApplWeek,ApplHour,Accompany,CarPrice,Deposit,LoanTerm,LoanRemainTerm,InterestType,InterestRate,LoanAmount,InstallAmount,LoanRemainAmount,HomeAddMatchedYN,WorkAddMatchedYN,InquiryCount,IdChangedYears,InfoChangedYears,PhoneChangedYears,ScoreA,ScoreB,ScoreC
0,여성,21.0,대학원,독신,2,0,서비스,3000만원~4000만원 미만,일반업무,무역,2.3,Y,자가,아파트,양호,N,0,Y,할부금융(장/단기),금,10,단독,18000000,10,24,5,변동,6.10,16200000,716175.0,3580875.0,N,Y,1,1.0,10.3,0.0,0.513,0.673,0.553
1,남성,21.1,대학교,독신,0,0,사업,2000만원~3000만원 미만,기타,일반,1.2,Y,자가,아파트,양호,Y,0,N,오토론,수,13,단독,52000000,30,48,13,변동,6.83,36400000,810127.5,10531657.5,Y,Y,1,1.0,21.1,0.4,0.256,0.536,0.396
2,여성,21.2,대학교,독신,0,0,사업,5000만원~1억원 미만,영업,무역,1.0,N,월세,아파트,양호,N,0,Y,할부금융(장/단기),목,13,단독,25000000,20,36,10,혼합,4.54,20000000,580777.8,5807778.0,N,Y,0,1.1,21.1,1.7,0.634,0.774,0.374
3,남성,21.2,중학교,결혼,3,1,사업,3000만원~4000만원 미만,영업,무역,3.1,Y,자가,아파트,양호,N,0,N,오토론,금,16,단독,15000000,20,12,7,고정,6.40,12000000,1064000.0,7448000.0,Y,Y,1,1.1,0.0,0.0,NaN,0.371,0.431
4,남성,21.3,고등학교,결혼,4,2,서비스,누락,일반업무,무역,1.7,Y,자가,연립/다세대/빌라,양호,N,0,Y,오토론,금,14,단독,25000000,10,24,9,변동,6.50,22500000,998437.5,8985937.5,Y,Y,2,1.2,21.2,1.1,NaN,0.846,0.626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94204,남성,66.4,중학교,결혼,4,2,기타,5000만원~1억원 미만,제약,공공,17.8,Y,자가,아파트,최상,N,0,Y,할부금융(장/단기),금,10,단독,43000000,30,48,16,변동,4.43,30100000,654863.1,10477809.6,Y,Y,4,13.1,0.0,2.3,NaN,0.645,0.465
94219,남성,67.2,고등학교,이혼,2,1,기타,4000만원~5000만원 미만,기타,무역,NaN,Y,자가,아파트,최상,N,0,Y,할부금융(장/단기),월,18,단독,43000000,10,24,3,변동,5.10,38700000,1694737.5,5084212.5,Y,Y,1,12.1,6.8,0.0,NaN,0.580,0.680
94222,남성,67.3,전문대,결혼,4,2,기타,5000만원~1억원 미만,기타,산업,NaN,Y,자가,연립/다세대/빌라,최상,N,0,Y,할부금융(장/단기),수,10,단독,30000000,20,12,4,변동,4.30,24000000,2086000.0,8344000.0,Y,Y,4,10.8,50.9,1.1,NaN,0.563,0.703
94229,남성,67.8,대학원,사별,3,2,사업,5000만원~1억원 미만,전문기술,일반,2.5,Y,자가,연립/다세대/빌라,최상,N,0,Y,할부금융(장/단기),월,14,단독,43000000,20,36,7,변동,4.39,34400000,997504.4,6982530.8,Y,Y,0,12.1,8.6,4.3,0.902,0.922,NaN
94240,남성,53.5,전문대,결혼,4,2,사업,4000만원~5000만원 미만,매니저,일반,3.4,Y,자가,단독주택,양호,N,0,Y,할부금융(장/단기),목,14,단독,20000000,30,48,38,혼합,5.38,14000000,307358.3,11679615.4,Y,Y,0,8.4,25.8,0.8,0.362,0.502,NaN

In [ ]:
df.isnull().sum()

Gender                   0
Age                      0
Education                0
MaritalStatus            0
FamilyCount              0
ChildCount               0
IncomeType               0
IncomeClass              0
Occupation               0
OrgType                  0
EmployedYears         4200
HouseOwnYN               0
DwellingType             0
HousingType              0
ResidenceClass           0
CarOwnedYN               0
Default                  0
ActiveLoanYN             0
LoanType                 0
ApplWeek                 0
ApplHour                 0
Accompany                0
CarPrice                 0
Deposit                  0
LoanTerm                 0
LoanRemainTerm           0
InterestType             0
InterestRate             0
LoanAmount               0
InstallAmount            0
LoanRemainAmount         0
HomeAddMatchedYN         0
WorkAddMatchedYN         0
InquiryCount             0
IdChangedYears         740
InfoChangedYears         0
PhoneChangedYears      820
ScoreA               35370
ScoreB                1705
ScoreC                8767
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79122 entries, 0 to 94240
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             79122 non-null  object
 1   Age                79122 non-null  float64
 2   Education          79122 non-null  object
 3   MaritalStatus      79122 non-null  object
 4   FamilyCount        79122 non-null  int64
 5   ChildCount         79122 non-null  int64
 6   IncomeType         79122 non-null  object
 7   IncomeClass        79122 non-null  object
 8   Occupation         79122 non-null  object
 9   OrgType            79122 non-null  object
 10  EmployedYears      74922 non-null  float64
 11  HouseOwnYN         79122 non-null  object
 12  DwellingType       79122 non-null  object
 13  HousingType        79122 non-null  object
 14  ResidenceClass     79122 non-null  object
 15  CarOwnedYN         79122 non-null  object
 16  Default            79122 non-null  int64
 17  ActiveLoanYN       79122 non-null  object
 18  LoanType           79122 non-null  object
 19  ApplWeek           79122 non-null  object
 20  ApplHour           79122 non-null  int64
 21  Accompany          79122 non-null  object
 22  CarPrice           79122 non-null  int64
 23  Deposit            79122 non-null  int64
 24  LoanTerm           79122 non-null  int64
 25  LoanRemainTerm     79122 non-null  int64
 26  InterestType       79122 non-null  object
 27  InterestRate       79122 non-null  float64
 28  LoanAmount         79122 non-null  int64
 29  InstallAmount      79122 non-null  float64
 30  LoanRemainAmount   79122 non-null  float64
 31  HomeAddMatchedYN   79122 non-null  object
 32  WorkAddMatchedYN   79122 non-null  object
 33  InquiryCount       79122 non-null  int64
 34  IdChangedYears     78382 non-null  float64
 35  InfoChangedYears   79122 non-null  float64
 36  PhoneChangedYears  78302 non-null  float64
 37  ScoreA             43752 non-null  float64
 38  ScoreB             77417 non-null  float64
 39  ScoreC             70355 non-null  float64
dtypes: float64(11), int64(10), object(19)
memory usage: 24.7+ MB

In [ ]:
df = df[(df['IncomeClass'] != '누락')]
df = df[(df['ResidenceClass'] != '누락')]
df = df[(df['DwellingType'] != '정보누락')]

In [ ]:
df['Accompany'] = np.where(df['Accompany'].isin(['배우자', '친지', '기타', '자녀', '단체']), '동행자 있음', '단독')
df['Accompany']

0        단독
1        단독
2        단독
3        단독
5        단독
         ..
94204    단독
94219    단독
94222    단독
94229    단독
94240    단독
Name: Accompany, Length: 73713, dtype: object

In [ ]:
df = df.dropna(subset=['IdChangedYears'])#, inplace=True)
df = df.dropna(subset=['PhoneChangedYears'])#, inplace=True)
df = df.dropna(subset=['EmployedYears'])

In [ ]:
df.isnull().sum()

Gender                   0
Age                      0
Education                0
MaritalStatus            0
FamilyCount              0
ChildCount               0
IncomeType               0
IncomeClass              0
Occupation               0
OrgType                  0
EmployedYears            0
HouseOwnYN               0
DwellingType             0
HousingType              0
ResidenceClass           0
CarOwnedYN               0
Default                  0
ActiveLoanYN             0
LoanType                 0
ApplWeek                 0
ApplHour                 0
Accompany                0
CarPrice                 0
Deposit                  0
LoanTerm                 0
LoanRemainTerm           0
InterestType             0
InterestRate             0
LoanAmount               0
InstallAmount            0
LoanRemainAmount         0
HomeAddMatchedYN         0
WorkAddMatchedYN         0
InquiryCount             0
IdChangedYears           0
InfoChangedYears         0
PhoneChangedYears        0
ScoreA               30368
ScoreB                1505
ScoreC                7668
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68422 entries, 0 to 94240
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             68422 non-null  object
 1   Age                68422 non-null  float64
 2   Education          68422 non-null  object
 3   MaritalStatus      68422 non-null  object
 4   FamilyCount        68422 non-null  int64
 5   ChildCount         68422 non-null  int64
 6   IncomeType         68422 non-null  object
 7   IncomeClass        68422 non-null  object
 8   Occupation         68422 non-null  object
 9   OrgType            68422 non-null  object
 10  EmployedYears      68422 non-null  float64
 11  HouseOwnYN         68422 non-null  object
 12  DwellingType       68422 non-null  object
 13  HousingType        68422 non-null  object
 14  ResidenceClass     68422 non-null  object
 15  CarOwnedYN         68422 non-null  object
 16  Default            68422 non-null  int64
 17  ActiveLoanYN       68422 non-null  object
 18  LoanType           68422 non-null  object
 19  ApplWeek           68422 non-null  object
 20  ApplHour           68422 non-null  int64
 21  Accompany          68422 non-null  object
 22  CarPrice           68422 non-null  int64
 23  Deposit            68422 non-null  int64
 24  LoanTerm           68422 non-null  int64
 25  LoanRemainTerm     68422 non-null  int64
 26  InterestType       68422 non-null  object
 27  InterestRate       68422 non-null  float64
 28  LoanAmount         68422 non-null  int64
 29  InstallAmount      68422 non-null  float64
 30  LoanRemainAmount   68422 non-null  float64
 31  HomeAddMatchedYN   68422 non-null  object
 32  WorkAddMatchedYN   68422 non-null  object
 33  InquiryCount       68422 non-null  int64
 34  IdChangedYears     68422 non-null  float64
 35  InfoChangedYears   68422 non-null  float64
 36  PhoneChangedYears  68422 non-null  float64
 37  ScoreA             38054 non-null  float64
 38  ScoreB             66917 non-null  float64
 39  ScoreC             60754 non-null  float64
dtypes: float64(11), int64(10), object(19)
memory usage: 21.4+ MB

# test data 정제

In [ ]:
dftest = pd.merge(dfc_test,dfloan_test, how='right',on='CustomerId')
dftest

,CustomerId,Gender,Age,Education,MaritalStatus,FamilyCount,ChildCount,IncomeType,IncomeClass,Occupation,OrgType,EmployedYears,HouseOwnYN,DwellingType,HousingType,ResidenceClass,HouseAge,CarOwnedYN,LoanId,Default,ActiveLoanYN,LoanType,ApplWeek,ApplHour,Accompany,CarPrice,Deposit,LoanTerm,LoanRemainTerm,InterestType,InterestRate,LoanAmount,InstallAmount,LoanRemainAmount,HomeAddMatchedYN,WorkAddMatchedYN,InquiryCount,IdChangedYears,InfoChangedYears,PhoneChangeYears,ScoreA,ScoreB,ScoreC
0,C271965,남성,21.2,대학교,독신,0,0,서비스,3000만원~4000만원 미만,기타,일반,1.7,Y,자가,연립/다세대/빌라,양호,NaN,N,L-247712,NaN,N,오토론,수,16,단독,15000000,10,24,24,변동,NaN,13500000,NaN,13500000,Y,Y,0,1.1,1.1,1.0,NaN,NaN,NaN
1,C271967,남성,21.3,대학원,결혼,5,3,서비스,5000만원~1억원 미만,기타,일반,1.0,N,월세,오피스텔,양호,NaN,N,L-258119,NaN,Y,오토론,월,16,단독,43000000,10,24,24,변동,NaN,38700000,NaN,38700000,N,Y,3,1.2,7.2,1.7,NaN,NaN,NaN
2,C271968,남성,21.4,대학원,결혼,2,0,기타,2000만원~3000만원 미만,기타,운송,0.8,N,월세,아파트,양호,NaN,N,L-264067,NaN,N,오토론,목,16,배우자,20000000,20,48,48,변동,NaN,16000000,NaN,16000000,Y,Y,0,1.2,18.0,0.4,NaN,NaN,NaN
3,C271970,남성,21.7,대학원,독신,0,0,사업,4000만원~5000만원 미만,개인서비스,서비스,2.8,Y,가족공동,아파트,양호,NaN,N,L-244880,NaN,N,오토론,월,14,단독,43000000,20,48,48,변동,NaN,34400000,NaN,34400000,Y,Y,1,1.6,8.0,1.1,NaN,NaN,NaN
4,C271971,남성,21.7,대학원,결혼,3,1,서비스,5000만원~1억원 미만,영업,은행/보험,1.5,Y,자가,아파트,양호,9.0,Y,L-214575,NaN,Y,오토론,화,17,단독,30000000,10,24,24,변동,NaN,27000000,NaN,27000000,Y,Y,1,1.7,1.6,1.7,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48050,C352746,남성,68.1,고등학교,사별,3,2,퇴직,5000만원~1억원 미만,기타,기타,NaN,Y,자가,아파트,최상,NaN,N,L-252756,NaN,Y,할부금융(장/단기),화,13,단독,55000000,30,48,48,변동,NaN,38500000,NaN,38500000,Y,Y,0,12.5,40.3,1.8,NaN,NaN,NaN
48051,C352750,남성,68.7,대학교,사별,3,2,퇴직,5000만원~1억원 미만,기타,서비스,NaN,N,전세,단독주택,최상,NaN,N,L-250460,NaN,Y,할부금융(장/단기),금,17,단독,43000000,30,48,48,변동,NaN,30100000,NaN,30100000,Y,Y,6,10.4,35.0,2.1,NaN,NaN,NaN
48052,C352751,남성,68.7,대학교,사별,4,3,퇴직,5000만원~1억원 미만,기타,운송,NaN,Y,자가,오피스텔,최상,NaN,N,L-252585,NaN,Y,할부금융(장/단기),월,12,단독,18000000,10,24,24,고정,NaN,16200000,NaN,16200000,Y,Y,7,11.1,45.2,5.2,NaN,NaN,NaN
48053,C352752,남성,68.7,고등학교,사별,1,0,퇴직,1억원~1.5억원 미만,기타,외국계,NaN,Y,자가,아파트,최상,NaN,N,L-204342,NaN,Y,할부금융(장/단기),화,14,단독,30000000,20,36,36,변동,NaN,24000000,NaN,24000000,Y,Y,0,12.3,11.2,1.9,NaN,NaN,NaN
48054,C352756,남성,54.2,고등학교,결혼,4,2,서비스,5000만원~1억원 미만,노동,유치원,7.6,Y,자가,아파트,양호,1.0,Y,L-214823,NaN,Y,할부금융(장/단기),수,17,단독,30000000,20,12,12,고정,NaN,24000000,NaN,24000000,Y,Y,0,9.0,22.2,0.0,NaN,NaN,NaN

In [ ]:
dftest = dftest.drop(['CustomerId','LoanId'], axis = 1)

In [ ]:
dftest_em = dftest[(dftest['IncomeType'] == '퇴직')]
dftest = dftest[(dftest['IncomeType'] != '퇴직')]

In [ ]:
dftest.isnull().sum()

Gender                  0
Age                     0
Education               0
MaritalStatus           0
FamilyCount             0
ChildCount              0
IncomeType              0
IncomeClass             0
Occupation              0
OrgType                 0
EmployedYears        2153
HouseOwnYN              0
DwellingType            0
HousingType             0
ResidenceClass          0
HouseAge            25027
CarOwnedYN              0
Default             40181
ActiveLoanYN            0
LoanType                0
ApplWeek                0
ApplHour                0
Accompany               0
CarPrice                0
Deposit                 0
LoanTerm                0
LoanRemainTerm          0
InterestType            0
InterestRate        40181
LoanAmount              0
InstallAmount       40181
LoanRemainAmount        0
HomeAddMatchedYN        0
WorkAddMatchedYN        0
InquiryCount            0
IdChangedYears        366
InfoChangedYears        0
PhoneChangeYears      432
ScoreA              40181
ScoreB              40181
ScoreC              40181
dtype: int64

In [ ]:
dftest.rename(columns={'PhoneChangeYears':'PhoneChangedYears'}, inplace = True)

In [ ]:
dftest.drop('HouseAge', axis = 1, inplace = True)

In [ ]:
dftest = dftest[(dftest['IncomeClass'] != '누락')]
dftest = dftest[(dftest['ResidenceClass'] != '누락')]
dftest = dftest[(dftest['DwellingType'] != '정보누락')]

In [ ]:
dftest = dftest[~dftest['EmployedYears'].isnull()]

In [ ]:
dftest = dftest[~dftest['IdChangedYears'].isnull()]

In [ ]:
dftest = dftest[~dftest['PhoneChangedYears'].isnull()]

In [ ]:
dftest.isnull().sum()

Gender                   0
Age                      0
Education                0
MaritalStatus            0
FamilyCount              0
ChildCount               0
IncomeType               0
IncomeClass              0
Occupation               0
OrgType                  0
EmployedYears            0
HouseOwnYN               0
DwellingType             0
HousingType              0
ResidenceClass           0
CarOwnedYN               0
Default              34685
ActiveLoanYN             0
LoanType                 0
ApplWeek                 0
ApplHour                 0
Accompany                0
CarPrice                 0
Deposit                  0
LoanTerm                 0
LoanRemainTerm           0
InterestType             0
InterestRate         34685
LoanAmount               0
InstallAmount        34685
LoanRemainAmount         0
HomeAddMatchedYN         0
WorkAddMatchedYN         0
InquiryCount             0
IdChangedYears           0
InfoChangedYears         0
PhoneChangedYears        0
ScoreA               34685
ScoreB               34685
ScoreC               34685
dtype: int64

In [ ]:
dftest.drop(['ScoreA','ScoreB','ScoreC'], axis = 1, inplace =True)

In [ ]:
 dftest = dftest.reset_index(drop=True)
 dftest

,Gender,Age,Education,MaritalStatus,FamilyCount,ChildCount,IncomeType,IncomeClass,Occupation,OrgType,EmployedYears,HouseOwnYN,DwellingType,HousingType,ResidenceClass,CarOwnedYN,Default,ActiveLoanYN,LoanType,ApplWeek,ApplHour,Accompany,CarPrice,Deposit,LoanTerm,LoanRemainTerm,InterestType,InterestRate,LoanAmount,InstallAmount,LoanRemainAmount,HomeAddMatchedYN,WorkAddMatchedYN,InquiryCount,IdChangedYears,InfoChangedYears,PhoneChangedYears
0,남성,21.2,대학교,독신,0,0,서비스,3000만원~4000만원 미만,기타,일반,1.7,Y,자가,연립/다세대/빌라,양호,N,NaN,N,오토론,수,16,단독,15000000,10,24,24,변동,NaN,13500000,NaN,13500000,Y,Y,0,1.1,1.1,1.0
1,남성,21.3,대학원,결혼,5,3,서비스,5000만원~1억원 미만,기타,일반,1.0,N,월세,오피스텔,양호,N,NaN,Y,오토론,월,16,단독,43000000,10,24,24,변동,NaN,38700000,NaN,38700000,N,Y,3,1.2,7.2,1.7
2,남성,21.4,대학원,결혼,2,0,기타,2000만원~3000만원 미만,기타,운송,0.8,N,월세,아파트,양호,N,NaN,N,오토론,목,16,배우자,20000000,20,48,48,변동,NaN,16000000,NaN,16000000,Y,Y,0,1.2,18.0,0.4
3,남성,21.7,대학원,독신,0,0,사업,4000만원~5000만원 미만,개인서비스,서비스,2.8,Y,가족공동,아파트,양호,N,NaN,N,오토론,월,14,단독,43000000,20,48,48,변동,NaN,34400000,NaN,34400000,Y,Y,1,1.6,8.0,1.1
4,남성,21.7,대학원,결혼,3,1,서비스,5000만원~1억원 미만,영업,은행/보험,1.5,Y,자가,아파트,양호,Y,NaN,Y,오토론,화,17,단독,30000000,10,24,24,변동,NaN,27000000,NaN,27000000,Y,Y,1,1.7,1.6,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34680,남성,64.4,중학교,독신,0,0,사업,5000만원~1억원 미만,제약,제약,12.8,Y,자가,오피스텔,최상,N,NaN,Y,할부금융(장/단기),화,17,단독,30000000,0,12,12,변동,NaN,30000000,NaN,30000000,Y,Y,0,12.0,14.8,0.0
34681,여성,65.2,대학교,결혼,4,2,사업,1.5억원 이상,매니저,자영업,6.2,N,반전세,단독주택,최상,N,NaN,N,할부금융(장/단기),월,14,단독,55000000,20,36,36,변동,NaN,44000000,NaN,44000000,Y,Y,4,11.6,8.9,4.3
34682,여성,65.2,대학교,결혼,5,3,사업,1.5억원 이상,매니저,자영업,6.2,N,전세,오피스텔,최상,N,NaN,Y,할부금융(장/단기),수,14,단독,55000000,30,48,48,변동,NaN,38500000,NaN,38500000,Y,Y,4,11.6,8.9,4.3
34683,남성,65.9,고등학교,독신,1,0,서비스,5000만원~1억원 미만,청소/세탁,일반,4.4,Y,자가,아파트,최상,N,NaN,Y,할부금융(장/단기),목,11,단독,52000000,20,12,12,변동,NaN,41600000,NaN,41600000,Y,Y,0,12.0,36.8,1.2
34684,남성,54.2,고등학교,결혼,4,2,서비스,5000만원~1억원 미만,노동,유치원,7.6,Y,자가,아파트,양호,Y,NaN,Y,할부금융(장/단기),수,17,단독,30000000,20,12,12,고정,NaN,24000000,NaN,24000000,Y,Y,0,9.0,22.2,0.0

In [ ]:
dftest['Accompany'] = np.where(dftest['Accompany'].isin(['배우자', '친지', '기타', '자녀', '단체']), '동행자 있음', '단독')
dftest['Accompany']

0            단독
1            단독
2        동행자 있음
3            단독
4            단독
          ...
34680        단독
34681        단독
34682        단독
34683        단독
34684        단독
Name: Accompany, Length: 34685, dtype: object

In [ ]:
dftest.isnull().sum()

Gender                   0
Age                      0
Education                0
MaritalStatus            0
FamilyCount              0
ChildCount               0
IncomeType               0
IncomeClass              0
Occupation               0
OrgType                  0
EmployedYears            0
HouseOwnYN               0
DwellingType             0
HousingType              0
ResidenceClass           0
CarOwnedYN               0
Default              34685
ActiveLoanYN             0
LoanType                 0
ApplWeek                 0
ApplHour                 0
Accompany                0
CarPrice                 0
Deposit                  0
LoanTerm                 0
LoanRemainTerm           0
InterestType             0
InterestRate         34685
LoanAmount               0
InstallAmount        34685
LoanRemainAmount         0
HomeAddMatchedYN         0
WorkAddMatchedYN         0
InquiryCount             0
IdChangedYears           0
InfoChangedYears         0
PhoneChangedYears        0
dtype: int64

# 재직자 데이터 특성 파악

In [ ]:
df['IncomeType'].value_counts()

서비스    41515
사업     19081
공무원     5746
기타      2080
Name: IncomeType, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68422 entries, 0 to 94240
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             68422 non-null  object
 1   Age                68422 non-null  float64
 2   Education          68422 non-null  object
 3   MaritalStatus      68422 non-null  object
 4   FamilyCount        68422 non-null  int64
 5   ChildCount         68422 non-null  int64
 6   IncomeType         68422 non-null  object
 7   IncomeClass        68422 non-null  object
 8   Occupation         68422 non-null  object
 9   OrgType            68422 non-null  object
 10  EmployedYears      68422 non-null  float64
 11  HouseOwnYN         68422 non-null  object
 12  DwellingType       68422 non-null  object
 13  HousingType        68422 non-null  object
 14  ResidenceClass     68422 non-null  object
 15  CarOwnedYN         68422 non-null  object
 16  Default            68422 non-null  int64
 17  ActiveLoanYN       68422 non-null  object
 18  LoanType           68422 non-null  object
 19  ApplWeek           68422 non-null  object
 20  ApplHour           68422 non-null  int64
 21  Accompany          68422 non-null  object
 22  CarPrice           68422 non-null  int64
 23  Deposit            68422 non-null  int64
 24  LoanTerm           68422 non-null  int64
 25  LoanRemainTerm     68422 non-null  int64
 26  InterestType       68422 non-null  object
 27  InterestRate       68422 non-null  float64
 28  LoanAmount         68422 non-null  int64
 29  InstallAmount      68422 non-null  float64
 30  LoanRemainAmount   68422 non-null  float64
 31  HomeAddMatchedYN   68422 non-null  object
 32  WorkAddMatchedYN   68422 non-null  object
 33  InquiryCount       68422 non-null  int64
 34  IdChangedYears     68422 non-null  float64
 35  InfoChangedYears   68422 non-null  float64
 36  PhoneChangedYears  68422 non-null  float64
 37  ScoreA             38054 non-null  float64
 38  ScoreB             66917 non-null  float64
 39  ScoreC             60754 non-null  float64
dtypes: float64(11), int64(10), object(19)
memory usage: 21.4+ MB

In [ ]:
df_em.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15119 entries, 1922 to 94239
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             15119 non-null  object
 1   Age                15119 non-null  float64
 2   Education          15119 non-null  object
 3   MaritalStatus      15119 non-null  object
 4   FamilyCount        15119 non-null  int64
 5   ChildCount         15119 non-null  int64
 6   IncomeType         15119 non-null  object
 7   IncomeClass        15119 non-null  object
 8   Occupation         15119 non-null  object
 9   OrgType            15119 non-null  object
 10  EmployedYears      1 non-null      float64
 11  HouseOwnYN         15119 non-null  object
 12  DwellingType       15119 non-null  object
 13  HousingType        15119 non-null  object
 14  ResidenceClass     15119 non-null  object
 15  CarOwnedYN         15119 non-null  object
 16  Default            15119 non-null  int64
 17  ActiveLoanYN       15119 non-null  object
 18  LoanType           15119 non-null  object
 19  ApplWeek           15119 non-null  object
 20  ApplHour           15119 non-null  int64
 21  Accompany          15119 non-null  object
 22  CarPrice           15119 non-null  int64
 23  Deposit            15119 non-null  int64
 24  LoanTerm           15119 non-null  int64
 25  LoanRemainTerm     15119 non-null  int64
 26  InterestType       15119 non-null  object
 27  InterestRate       15119 non-null  float64
 28  LoanAmount         15119 non-null  int64
 29  InstallAmount      15119 non-null  float64
 30  LoanRemainAmount   15119 non-null  float64
 31  HomeAddMatchedYN   15119 non-null  object
 32  WorkAddMatchedYN   15119 non-null  object
 33  InquiryCount       15119 non-null  int64
 34  IdChangedYears     14970 non-null  float64
 35  InfoChangedYears   15119 non-null  float64
 36  PhoneChangedYears  14976 non-null  float64
 37  ScoreA             4332 non-null   float64
 38  ScoreB             14979 non-null  float64
 39  ScoreC             14260 non-null  float64
dtypes: float64(11), int64(10), object(19)
memory usage: 4.7+ MB

In [ ]:
df_em = df_em.drop('EmployedYears', axis=1)
df_em.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15119 entries, 1922 to 94239
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             15119 non-null  object
 1   Age                15119 non-null  float64
 2   Education          15119 non-null  object
 3   MaritalStatus      15119 non-null  object
 4   FamilyCount        15119 non-null  int64
 5   ChildCount         15119 non-null  int64
 6   IncomeType         15119 non-null  object
 7   IncomeClass        15119 non-null  object
 8   Occupation         15119 non-null  object
 9   OrgType            15119 non-null  object
 10  HouseOwnYN         15119 non-null  object
 11  DwellingType       15119 non-null  object
 12  HousingType        15119 non-null  object
 13  ResidenceClass     15119 non-null  object
 14  CarOwnedYN         15119 non-null  object
 15  Default            15119 non-null  int64
 16  ActiveLoanYN       15119 non-null  object
 17  LoanType           15119 non-null  object
 18  ApplWeek           15119 non-null  object
 19  ApplHour           15119 non-null  int64
 20  Accompany          15119 non-null  object
 21  CarPrice           15119 non-null  int64
 22  Deposit            15119 non-null  int64
 23  LoanTerm           15119 non-null  int64
 24  LoanRemainTerm     15119 non-null  int64
 25  InterestType       15119 non-null  object
 26  InterestRate       15119 non-null  float64
 27  LoanAmount         15119 non-null  int64
 28  InstallAmount      15119 non-null  float64
 29  LoanRemainAmount   15119 non-null  float64
 30  HomeAddMatchedYN   15119 non-null  object
 31  WorkAddMatchedYN   15119 non-null  object
 32  InquiryCount       15119 non-null  int64
 33  IdChangedYears     14970 non-null  float64
 34  InfoChangedYears   15119 non-null  float64
 35  PhoneChangedYears  14976 non-null  float64
 36  ScoreA             4332 non-null   float64
 37  ScoreB             14979 non-null  float64
 38  ScoreC             14260 non-null  float64
dtypes: float64(10), int64(10), object(19)
memory usage: 4.6+ MB

### EmployedYears   ->   1 non-null      float64

In [ ]:
df.select_dtypes(include='object').shape[1]

19

## 연속형 데이터

### T검정_재직

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df[df['Default'] == 0]
group_1 = df[df['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['Age', 'FamilyCount', 'ChildCount', 'EmployedYears', 'ApplHour', 'CarPrice',
                'Deposit', 'LoanTerm', 'LoanRemainTerm', 'InterestRate', \
                'LoanAmount', 'InstallAmount',
                'LoanRemainAmount', 'InquiryCount', 'IdChangedYears', \
                'InfoChangedYears', 'PhoneChangedYears',]

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col], group_1[col], equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

Age
t-statistic: 15.278
p-value: 0.000

FamilyCount
t-statistic: 3.862
p-value: 0.000

ChildCount
t-statistic: 3.819
p-value: 0.000

EmployedYears
t-statistic: 21.101
p-value: 0.000

ApplHour
t-statistic: 2.464
p-value: 0.014

CarPrice
t-statistic: 0.824
p-value: 0.410

Deposit
t-statistic: 0.297
p-value: 0.767

LoanTerm
t-statistic: -0.663
p-value: 0.507

LoanRemainTerm
t-statistic: -1.087
p-value: 0.277

InterestRate
t-statistic: -4.779
p-value: 0.000

LoanAmount
t-statistic: 0.650
p-value: 0.515

InstallAmount
t-statistic: 0.444
p-value: 0.657

LoanRemainAmount
t-statistic: -0.677
p-value: 0.498

InquiryCount
t-statistic: -5.262
p-value: 0.000

IdChangedYears
t-statistic: 8.527
p-value: 0.000

InfoChangedYears
t-statistic: 7.034
p-value: 0.000

PhoneChangedYears
t-statistic: 14.256
p-value: 0.000

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df[df['Default'] == 0]
group_1 = df[df['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['ScoreA']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

ScoreA
t-statistic: 119.350
p-value: 0.000

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df[df['Default'] == 0]
group_1 = df[df['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['ScoreB']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

ScoreB
t-statistic: 128.868
p-value: 0.000

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df[df['Default'] == 0]
group_1 = df[df['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['ScoreC']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

ScoreC
t-statistic: 134.037
p-value: 0.000

In [ ]:
# 0.05 이하인 것만 리스트로 확인

# from scipy.stats import ttest_ind

# # Default가 0인 그룹과 1인 그룹으로 나누기
# group_0 = df[df['Default'] == 0]
# group_1 = df[df['Default'] == 1]

# # 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
# numeric_cols = ['Age', 'FamilyCount', 'ChildCount', 'EmployedYears', 'ApplHour', 'CarPrice',
#                 'Deposit', 'LoanTerm', 'LoanRemainTerm', 'InterestRate', \
#                 'LoanAmount', 'InstallAmount',
#                 'LoanRemainAmount', 'InquiryCount', 'IdChangedYears', \
#                 'InfoChangedYears', 'PhoneChangedYears',]

# # 결과를 저장할 리스트
# significant_cols = []

# # 수치형 변수들에 대한 t-검정 실행
# for col in numeric_cols:
#     t_stat, p_value = ttest_ind(group_0[col], group_1[col], equal_var=False)

#     if p_value < 0.05:
#         significant_cols.append(col)

# # 결과 출력
# print(significant_cols)

In [ ]:
# result_str = ', '.join(significant_cols)
# result_str = result_str.replace("'", "")

# print(result_str)

Age, FamilyCount, ChildCount, EmployedYears, ApplHour, InterestRate, InquiryCount, IdChangedYears, InfoChangedYears, PhoneChangedYears

### p 값 > 0.05 : 유의하지 않음
    => CarPrice, Deposit, LoanTerm, LoanRemainTerm, LoanAmount, InstallAmount, LoanRemainAmount

### p 값 < 0.05 : 유의함
    =>Age, FamilyCount, ChildCount, EmployedYears, ApplHour, InterestRate, InquiryCount, IdChangedYears, InfoChangedYears, PhoneChangedYears, ScoreA, ScoreB, ScoreC

### T검정_퇴직

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df_em[df_em['Default'] == 0]
group_1 = df_em[df_em['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['Age', 'FamilyCount', 'ChildCount', 'EmployedYears', 'ApplHour', 'CarPrice',
                'Deposit', 'LoanTerm', 'LoanRemainTerm', 'InterestRate', 'LoanAmount', 'InstallAmount',
                'LoanRemainAmount', 'InquiryCount', 'IdChangedYears', 'InfoChangedYears', 'PhoneChangedYears',
                'ScoreA', 'ScoreB', 'ScoreC']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

Age
t-statistic: 3.740
p-value: 0.000

FamilyCount
t-statistic: -0.879
p-value: 0.379

ChildCount
t-statistic: -0.093
p-value: 0.926

EmployedYears
t-statistic: nan
p-value: nan

ApplHour
t-statistic: 0.441
p-value: 0.659

CarPrice
t-statistic: 0.432
p-value: 0.666

Deposit
t-statistic: -0.783
p-value: 0.434

LoanTerm
t-statistic: 1.102
p-value: 0.271

LoanRemainTerm
t-statistic: -0.705
p-value: 0.481

InterestRate
t-statistic: 1.201
p-value: 0.230

LoanAmount
t-statistic: 0.671
p-value: 0.503

InstallAmount
t-statistic: 0.287
p-value: 0.774

LoanRemainAmount
t-statistic: -0.715
p-value: 0.475

InquiryCount
t-statistic: -2.058
p-value: 0.040

IdChangedYears
t-statistic: 3.830
p-value: 0.000

InfoChangedYears
t-statistic: 2.071
p-value: 0.039

PhoneChangedYears
t-statistic: 5.584
p-value: 0.000

ScoreA
t-statistic: 29.538
p-value: 0.000

ScoreB
t-statistic: 42.554
p-value: 0.000

ScoreC
t-statistic: 41.296
p-value: 0.000

### 결측치 있는 것 따로

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df_em[df_em['Default'] == 0]
group_1 = df_em[df_em['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['Age', 'FamilyCount', 'ChildCount', 'ApplHour', 'CarPrice',
                'Deposit', 'LoanTerm', 'LoanRemainTerm', 'InterestRate', 'LoanAmount', 'InstallAmount',
                'LoanRemainAmount', 'InquiryCount', 'InfoChangedYears']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

Age
t-statistic: 3.740
p-value: 0.000

FamilyCount
t-statistic: -0.879
p-value: 0.379

ChildCount
t-statistic: -0.093
p-value: 0.926

ApplHour
t-statistic: 0.441
p-value: 0.659

CarPrice
t-statistic: 0.432
p-value: 0.666

Deposit
t-statistic: -0.783
p-value: 0.434

LoanTerm
t-statistic: 1.102
p-value: 0.271

LoanRemainTerm
t-statistic: -0.705
p-value: 0.481

InterestRate
t-statistic: 1.201
p-value: 0.230

LoanAmount
t-statistic: 0.671
p-value: 0.503

InstallAmount
t-statistic: 0.287
p-value: 0.774

LoanRemainAmount
t-statistic: -0.715
p-value: 0.475

InquiryCount
t-statistic: -2.058
p-value: 0.040

InfoChangedYears
t-statistic: 2.071
p-value: 0.039

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df_em[df_em['Default'] == 0]
group_1 = df_em[df_em['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['IdChangedYears']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

IdChangedYears
t-statistic: 3.830
p-value: 0.000

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df_em[df_em['Default'] == 0]
group_1 = df_em[df_em['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['PhoneChangedYears']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

PhoneChangedYears
t-statistic: 5.584
p-value: 0.000

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df_em[df_em['Default'] == 0]
group_1 = df_em[df_em['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['ScoreA']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))
    print()

ScoreA
t-statistic: 29.538
p-value: 0.000

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df_em[df_em['Default'] == 0]
group_1 = df_em[df_em['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['ScoreB']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))

ScoreB
t-statistic: 42.554
p-value: 0.000

In [ ]:
from scipy.stats import ttest_ind

# Default가 0인 그룹과 1인 그룹으로 나누기
group_0 = df_em[df_em['Default'] == 0]
group_1 = df_em[df_em['Default'] == 1]

# 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
numeric_cols = ['ScoreC']

# 수치형 변수들에 대한 t-검정 실행
for col in numeric_cols:
    t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
#     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")
    print(f"{col}")
    print('t-statistic: {0:0.3f}'.format(t_stat))
    print('p-value: {0:0.3f}'.format(p_value))

ScoreC
t-statistic: 41.296
p-value: 0.000

In [ ]:
# from scipy.stats import ttest_ind

# # Default가 0인 그룹과 1인 그룹으로 나누기
# group_0 = df_em[df_em['Default'] == 0]
# group_1 = df_em[df_em['Default'] == 1]

# # 수치형 변수 리스트 (수정이 필요하면 추가 또는 삭제)
# numeric_cols = ['Age', 'FamilyCount', 'ChildCount', 'ApplHour', 'CarPrice',
#                 'Deposit', 'LoanTerm', 'LoanRemainTerm', 'InterestRate', 'LoanAmount', 'InstallAmount',
#                 'LoanRemainAmount', 'InquiryCount', 'IdChangedYears', 'InfoChangedYears', 'PhoneChangedYears',
#                 'ScoreA', 'ScoreB', 'ScoreC']

# # 수치형 변수들에 대한 t-검정 실행
# for col in numeric_cols:
#     t_stat, p_value = ttest_ind(group_0[col].dropna(), group_1[col].dropna(), equal_var=False)
# #     print(f"{col} - t-statistic: {t_stat}, p-value: {p_value}")

# # 결과를 저장할 리스트
# significant_cols = []

# # 수치형 변수들에 대한 t-검정 실행
# for col in numeric_cols:
#     t_stat, p_value = ttest_ind(group_0[col], group_1[col], equal_var=False)

#     if p_value > 0.05:
#         significant_cols.append(col)

# # 결과 출력
# print(significant_cols)

# result_str = ', '.join(significant_cols)
# result_str = result_str.replace("'", "")

# print(result_str)

['FamilyCount', 'ChildCount', 'ApplHour', 'CarPrice', 'Deposit', 'LoanTerm', 'LoanRemainTerm', 'InterestRate', 'LoanAmount', 'InstallAmount', 'LoanRemainAmount']
FamilyCount, ChildCount, ApplHour, CarPrice, Deposit, LoanTerm, LoanRemainTerm, InterestRate, LoanAmount, InstallAmount, LoanRemainAmount

### P값 >0.05 : 유의하지 않음
    => FamilyCount, ChildCount, ApplHour, CarPrice, Deposit, LoanTerm, LoanRemainTerm, InterestRate, LoanAmount, InstallAmount, LoanRemainAmount

### P값 <0.05 : 유의함
    => Age, InquiryCount, InfoChangedYears, ScoreA, ScoreB, ScoreC

# 카이제곱 검정

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68422 entries, 0 to 94240
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             68422 non-null  object
 1   Age                68422 non-null  float64
 2   Education          68422 non-null  object
 3   MaritalStatus      68422 non-null  object
 4   FamilyCount        68422 non-null  int64
 5   ChildCount         68422 non-null  int64
 6   IncomeType         68422 non-null  object
 7   IncomeClass        68422 non-null  object
 8   Occupation         68422 non-null  object
 9   OrgType            68422 non-null  object
 10  EmployedYears      68422 non-null  float64
 11  HouseOwnYN         68422 non-null  object
 12  DwellingType       68422 non-null  object
 13  HousingType        68422 non-null  object
 14  ResidenceClass     68422 non-null  object
 15  CarOwnedYN         68422 non-null  object
 16  Default            68422 non-null  int64
 17  ActiveLoanYN       68422 non-null  object
 18  LoanType           68422 non-null  object
 19  ApplWeek           68422 non-null  object
 20  ApplHour           68422 non-null  int64
 21  Accompany          68422 non-null  object
 22  CarPrice           68422 non-null  int64
 23  Deposit            68422 non-null  int64
 24  LoanTerm           68422 non-null  int64
 25  LoanRemainTerm     68422 non-null  int64
 26  InterestType       68422 non-null  object
 27  InterestRate       68422 non-null  float64
 28  LoanAmount         68422 non-null  int64
 29  InstallAmount      68422 non-null  float64
 30  LoanRemainAmount   68422 non-null  float64
 31  HomeAddMatchedYN   68422 non-null  object
 32  WorkAddMatchedYN   68422 non-null  object
 33  InquiryCount       68422 non-null  int64
 34  IdChangedYears     68422 non-null  float64
 35  InfoChangedYears   68422 non-null  float64
 36  PhoneChangedYears  68422 non-null  float64
 37  ScoreA             38054 non-null  float64
 38  ScoreB             66917 non-null  float64
 39  ScoreC             60754 non-null  float64
dtypes: float64(11), int64(10), object(19)
memory usage: 21.4+ MB

### 카이제곱_재직

In [2]:
from scipy.stats import chi2_contingency

# 범주형 변수 추출
categorical_cols = ['Age', 'FamilyCount', 'ChildCount','ApplHour', 'CarPrice',
                'Deposit', 'LoanTerm', 'LoanRemainTerm', 'InterestRate', 'LoanAmount', 'InstallAmount',
                'LoanRemainAmount', 'InquiryCount', 'IdChangedYears', 'InfoChangedYears', 'PhoneChangedYears']

# 카이제곱 검정 수행
for col in categorical_cols:
    cross_tab = pd.crosstab(df['Default'], df[col])
    chi, p_value, dof, expected = chi2_contingency(cross_tab)

    print(f"{col}:")
    print(f"chi-square test:")
    print(f"chi-squared: {chi:.3f}")
    print(f"p-value: {p_value:.3f}")
    print(f"degree of freedom: {dof}")
    print()

NameError: name 'df_box' is not defined

### P값 > 0.05  유의하지 않음
    => HouseOwnYN, HousingType, ApplWeek
    
### P값 < 0.05  유의함
    => Gender, Education, MaritalStatus, IncomeType, IncomeClass, Occupation, OrgType, DwellingType, HousingType, ResidenceClass, CarOwnedYN, ActiveLoanYN, LoanType Accompany, HomeAddMatchedYN, WorkAddMatchedYN

### 카이제곱_퇴직

In [ ]:
df_em.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15119 entries, 1922 to 94239
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             15119 non-null  object
 1   Age                15119 non-null  float64
 2   Education          15119 non-null  object
 3   MaritalStatus      15119 non-null  object
 4   FamilyCount        15119 non-null  int64
 5   ChildCount         15119 non-null  int64
 6   IncomeType         15119 non-null  object
 7   IncomeClass        15119 non-null  object
 8   Occupation         15119 non-null  object
 9   OrgType            15119 non-null  object
 10  HouseOwnYN         15119 non-null  object
 11  DwellingType       15119 non-null  object
 12  HousingType        15119 non-null  object
 13  ResidenceClass     15119 non-null  object
 14  CarOwnedYN         15119 non-null  object
 15  Default            15119 non-null  int64
 16  ActiveLoanYN       15119 non-null  object
 17  LoanType           15119 non-null  object
 18  ApplWeek           15119 non-null  object
 19  ApplHour           15119 non-null  int64
 20  Accompany          15119 non-null  object
 21  CarPrice           15119 non-null  int64
 22  Deposit            15119 non-null  int64
 23  LoanTerm           15119 non-null  int64
 24  LoanRemainTerm     15119 non-null  int64
 25  InterestType       15119 non-null  object
 26  InterestRate       15119 non-null  float64
 27  LoanAmount         15119 non-null  int64
 28  InstallAmount      15119 non-null  float64
 29  LoanRemainAmount   15119 non-null  float64
 30  HomeAddMatchedYN   15119 non-null  object
 31  WorkAddMatchedYN   15119 non-null  object
 32  InquiryCount       15119 non-null  int64
 33  IdChangedYears     14970 non-null  float64
 34  InfoChangedYears   15119 non-null  float64
 35  PhoneChangedYears  14976 non-null  float64
 36  ScoreA             4332 non-null   float64
 37  ScoreB             14979 non-null  float64
 38  ScoreC             14260 non-null  float64
dtypes: float64(10), int64(10), object(19)
memory usage: 4.6+ MB

In [ ]:
from scipy.stats import chi2_contingency

# 범주형 변수 추출
categorical_cols = df_em.select_dtypes(include=['object']).columns

# 카이제곱 검정 수행
for col in categorical_cols:
    cross_tab = pd.crosstab(df_em['Default'], df_em[col])
    chi, p_value, dof, expected = chi2_contingency(cross_tab)

    print(f"{col}:")
    print(f"chi-square test:")
    print(f"chi-squared: {chi:.3f}")
    print(f"p-value: {p_value:.3f}")
    print(f"degree of freedom: {dof}")
    print()

Gender:
chi-square test:
chi-squared: 26.956
p-value: 0.000
degree of freedom: 1

Education:
chi-square test:
chi-squared: 13.671
p-value: 0.008
degree of freedom: 4

MaritalStatus:
chi-square test:
chi-squared: 7.132
p-value: 0.068
degree of freedom: 3

IncomeType:
chi-square test:
chi-squared: 0.000
p-value: 1.000
degree of freedom: 0

IncomeClass:
chi-square test:
chi-squared: 8.562
p-value: 0.286
degree of freedom: 7

Occupation:
chi-square test:
chi-squared: 0.000
p-value: 1.000
degree of freedom: 0

OrgType:
chi-square test:
chi-squared: 5.424
p-value: 0.608
degree of freedom: 7

HouseOwnYN:
chi-square test:
chi-squared: 0.060
p-value: 0.806
degree of freedom: 1

DwellingType:
chi-square test:
chi-squared: 12.768
p-value: 0.047
degree of freedom: 6

HousingType:
chi-square test:
chi-squared: 1.737
p-value: 0.629
degree of freedom: 3

ResidenceClass:
chi-square test:
chi-squared: 19.066
p-value: 0.000
degree of freedom: 3

CarOwnedYN:
chi-square test:
chi-squared: 1.051
p-value: 0.305
degree of freedom: 1

ActiveLoanYN:
chi-square test:
chi-squared: 0.330
p-value: 0.566
degree of freedom: 1

LoanType:
chi-square test:
chi-squared: 0.284
p-value: 0.594
degree of freedom: 1

ApplWeek:
chi-square test:
chi-squared: 2.788
p-value: 0.594
degree of freedom: 4

Accompany:
chi-square test:
chi-squared: 6.595
p-value: 0.253
degree of freedom: 5

InterestType:
chi-square test:
chi-squared: 34.324
p-value: 0.000
degree of freedom: 2

HomeAddMatchedYN:
chi-square test:
chi-squared: 37.700
p-value: 0.000
degree of freedom: 1

WorkAddMatchedYN:
chi-square test:
chi-squared: 0.000
p-value: 1.000
degree of freedom: 1

### P값 >0.05  유의하지 않음
    => MaritalStatus, IncomeType, IncomeClass, Occupation, OrgType, HouseOwnYN, HousingType, CarOwnedYN, ActiveLoanYN, LoanType, ApplWeek, Accompany, WorkAddMatchedYN

### P값 < 0.05  유의함
    => Gender, Education, DwellingType, ResidenceClass, InterestType, HomeAddMatchedYN

# 기존 고객(train) 연체 분류 모델

## 통계적 가설 검정 (Default)

- 범주형이 라벨 인코딩된 변수는 연속형이 아님

연속형 vs. 연속형:

    t-검정 (독립표본 T-검정 또는 대응표본 T-검정): 두 연속형 변수 간의 평균 차이를 검정합니다. 독립표본 T-검정은 두 독립된 그룹 간의 평균 차이를, 대응표본 T-검정은 동일한 그룹 내에서의 전/후 차이를 검정합니다.

    상관 분석 (Pearson 또는 Spearman): 두 연속형 변수 간의 선형 또는 비선형 상관 관계를 검정합니다.

범주형 vs. 범주형:

    카이제곱 검정 (Chi-square Test): 두 범주형 변수 간의 독립성을 검정합니다. 주로 분할표(Contingency Table)를 사용하여 카이제곱 통계량을 계산합니다.

    Fisher의 정확한 검정 (Fisher's Exact Test): 작은 샘플 크기 또는 특정 가정이 충족되지 않는 경우에 사용되는 범주형 변수의 독립성 검정 방법 중 하나입니다.

연속형 vs. 범주형:

    분산분석 (ANOVA): 범주형 변수의 수준 간에 종속 변수의 평균 차이를 검정합니다. 일원배치(One-way ANOVA) 또는 이원배치(Two-way ANOVA) 등이 사용됩니다.

    로지스틱 회귀 분석 (Logistic Regression): 종속 변수가 이항 분포를 따르는 경우, 범주형 변수와 연속형 변수 간의 관계를 모델링하는 데 사용됩니다.

    비모수 검정 (Mann-Whitney U 검정 또는 크루스칼-왈리스 검정): 변수가 정규분포를 따르지 않거나 순위 형태인 경우에 사용되는 비모수 검정 방법입니다.

연속형 x & 범주형 Y:
  
    로지스틱 회귀분석

범주형x & 연속형 Y:

    비모수적 검정 (kruskal-wallis)

### (Default)범주형 - 범주형 -> 전체

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94241 entries, 0 to 94240
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerId         94241 non-null  object
 1   Gender             94241 non-null  object
 2   Age                94241 non-null  float64
 3   Education          94241 non-null  object
 4   MaritalStatus      94241 non-null  object
 5   FamilyCount        94241 non-null  int64
 6   ChildCount         94241 non-null  int64
 7   IncomeType         94241 non-null  object
 8   IncomeClass        94241 non-null  object
 9   Occupation         94241 non-null  object
 10  OrgType            94241 non-null  object
 11  EmployedYears      74923 non-null  float64
 12  HouseOwnYN         94241 non-null  object
 13  DwellingType       94241 non-null  object
 14  HousingType        94241 non-null  object
 15  ResidenceClass     94241 non-null  object
 16  HouseAge           33149 non-null  float64
 17  CarOwnedYN         94241 non-null  object
 18  LoanId             94241 non-null  object
 19  Default            94241 non-null  int64
 20  ActiveLoanYN       94241 non-null  object
 21  LoanType           94241 non-null  object
 22  ApplWeek           94241 non-null  object
 23  ApplHour           94241 non-null  int64
 24  Accompany          94241 non-null  object
 25  CarPrice           94241 non-null  int64
 26  Deposit            94241 non-null  int64
 27  LoanTerm           94241 non-null  int64
 28  LoanRemainTerm     94241 non-null  int64
 29  InterestType       94241 non-null  object
 30  InterestRate       94241 non-null  float64
 31  LoanAmount         94241 non-null  int64
 32  InstallAmount      94241 non-null  float64
 33  LoanRemainAmount   94241 non-null  float64
 34  HomeAddMatchedYN   94241 non-null  object
 35  WorkAddMatchedYN   94241 non-null  object
 36  InquiryCount       94241 non-null  int64
 37  IdChangedYears     93352 non-null  float64
 38  InfoChangedYears   94241 non-null  float64
 39  PhoneChangedYears  93278 non-null  float64
 40  ScoreA             48084 non-null  float64
 41  ScoreB             92396 non-null  float64
 42  ScoreC             84615 non-null  float64
dtypes: float64(12), int64(10), object(21)
memory usage: 31.6+ MB

In [ ]:
# 가설검정 및 통계 분석 패키지
import scipy.stats as stats
from statsmodels.formula.api import ols

In [ ]:
cross_tab1 = pd.crosstab(df['Default'], df['Gender'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "Gender chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['Education'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "Education chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['MaritalStatus'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "MaritalStatus chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['IncomeType'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "IncomeType chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['IncomeClass'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "IncomeClass chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['Occupation'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "Occupation chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['OrgType'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "OrgType chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['HouseOwnYN'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "HouseOwnYN chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['DwellingType'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "DwellingType chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['HousingType'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "HousingType chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['ResidenceClass'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "ResidenceClass chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()
cross_tab1 = pd.crosstab(df['Default'], df['CarOwnedYN'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "CarOwnedYN chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['ActiveLoanYN'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "ActiveLoanYN chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['LoanType'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "LoanType chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['ApplWeek'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "ApplWeek chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['Accompany'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "Accompany chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['InterestType'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "InterestType chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['HomeAddMatchedYN'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "HomeAddMatchedYN chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

cross_tab1 = pd.crosstab(df['Default'], df['WorkAddMatchedYN'])
chi, pval, dof, expected = stats.chi2_contingency(cross_tab1)
print( "WorkAddMatchedYN chi-square test ")
print( ' chisq: {0:0.2f}' .format(chi))
print( ' p-value : {0:0.3f}'.format(pval))
print( ' degree of freedom: {}' .format(dof))
print()

Gender chi-square test
 chisq: 211.80
 p-value : 0.000
 degree of freedom: 1

Education chi-square test
 chisq: 253.90
 p-value : 0.000
 degree of freedom: 4

MaritalStatus chi-square test
 chisq: 50.80
 p-value : 0.000
 degree of freedom: 3

IncomeType chi-square test
 chisq: 327.91
 p-value : 0.000
 degree of freedom: 4

IncomeClass chi-square test
 chisq: 72.84
 p-value : 0.000
 degree of freedom: 7

Occupation chi-square test
 chisq: 576.62
 p-value : 0.000
 degree of freedom: 18

OrgType chi-square test
 chisq: 297.38
 p-value : 0.000
 degree of freedom: 18

HouseOwnYN chi-square test
 chisq: 0.62
 p-value : 0.433
 degree of freedom: 1

DwellingType chi-square test
 chisq: 55.99
 p-value : 0.000
 degree of freedom: 6

HousingType chi-square test
 chisq: 1.41
 p-value : 0.703
 degree of freedom: 3

ResidenceClass chi-square test
 chisq: 303.39
 p-value : 0.000
 degree of freedom: 3

CarOwnedYN chi-square test
 chisq: 42.57
 p-value : 0.000
 degree of freedom: 1

ActiveLoanYN chi-square test
 chisq: 9.68
 p-value : 0.002
 degree of freedom: 1

LoanType chi-square test
 chisq: 53.39
 p-value : 0.000
 degree of freedom: 1

ApplWeek chi-square test
 chisq: 7.09
 p-value : 0.131
 degree of freedom: 4

Accompany chi-square test
 chisq: 6.53
 p-value : 0.258
 degree of freedom: 5

InterestType chi-square test
 chisq: 169.06
 p-value : 0.000
 degree of freedom: 2

HomeAddMatchedYN chi-square test
 chisq: 169.90
 p-value : 0.000
 degree of freedom: 1

WorkAddMatchedYN chi-square test
 chisq: 73.06
 p-value : 0.000
 degree of freedom: 1

- 변수 배제 : ApplWeek,HousingType,HouseOwnYN